html,
body {
  margin: 0;
  padding: 0;
}

.father {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 36px;
  color: white;
}

.box:first-child {
  flex-grow: 1;
  flex-shrink: 5;
  background-color: tomato;
}

.box:nth-child(2) {
  flex-grow: 2;
  flex-shrink: 0;
  background-color: teal;
}

.box:last-child {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: orange;
}
