@import "./reset.css";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #e8e8e6;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
  max-width: 720px;
  padding: 50px 40px;
  box-sizing: border-box;
  background-color: #f5f5f3;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

.title {
  font-size: 100px;
  font-weight: 700;
}

.sub-title {
  font-size: 40px;
  font-weight: 700;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding-top: 15px;
}

.nav {
  display: flex;
  gap: 70px;
}
.circles {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #000;
}

.circle:nth-child(1),
.circle:nth-child(2),
.circle:nth-child(3) {
  background-color: #bbe0f0;
}

.circle:nth-child(4),
.circle:nth-child(5),
.circle:nth-child(6) {
  background-color: #626365;
}

.circle:nth-child(7),
.circle:nth-child(8),
.circle:nth-child(9) {
  background-color: #04a466;
}
